.primaryButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
  background: rgb(61, 126, 223);
  border-radius: 16px;
  border-width: 1px;
  border-color: #2634b2;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  text-wrap: nowrap;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  gap: 5px;

  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;

  &:active:not(.disabled) {
    transform: scale(0.95);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
}

.disabled {
  background-color: #d6d7e0 !important;
  cursor: not-allowed;
}
